<div class="container-fluid d-flex align-items-center justify-content-center bg-dark">
<!--    <span class="mb-3 mb-md-0 text-muted">© Association for Information and Communication Technologies ICT-ACT</span>-->
    <div class="row my-5">
        <div class="col-6 text-white" style="width: 500px">
            <h4>© ICT-ACT</h4>
            <p>Association for Information and Communication Technologies</p>
        </div>
        <div class="col-6 text-white" style="width: 500px">
            <h4>Contact</h4>
            <p>
                Rugjer Boshkovikj 16<br>
                1000 Skopje, Republic of North Macedonia<br>
            </p>
        </div>
    </div>

</div>
