<!-- Section-->
<section class="pb-5">
    <div class="container">
        <!-- Filter Section-->
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 row-cols-sm-1 justify-content-start bg-light p-3">
            <div class="col-md-8"> <!-- class="col-md-10" -->
                <form method="get" action="/meetings" class="">
                    <h4 class="mb-3">Filter meetings</h4>
                    <input class="form-control me-2 m-1" type="search" placeholder="Search by Name" aria-label="Name" name="name">
                    <div class="d-flex align-items-center m-1">
                        <span>From</span>
                        <input class="form-control me-2 m-1" type="date" aria-label="Date" name="dateFrom">
                        <span>To</span>
                        <input class="form-control me-2 m-1" type="date" aria-label="Date" name="dateTo">
                    </div>
                    <div class="btn-group mb-3" role="group" aria-label="Basic checkbox toggle button group">
                        <div th:each="type: ${types}">
                            <input type="checkbox" class="btn-check" th:value="${type.name()}" autocomplete="off" name="type" th:id="${'type_' + type.name()}">
                            <label class="btn btn-outline-primary" th:text="${type.name()}" th:for="${'type_' + type.name()}"></label>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary m-1 col-3" type="submit">Filter</button>
                </form>
            </div>
        </div>

        <div sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')" class="row justify-content-center m-3">
            <a href="/meetings/add"><button class="btn btn-success m-1 col-3" type="submit">Create new Meeting</button></a>
        </div>

        <!-- Meeting Cards-->
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 row-cols-sm-1 justify-content-start bg-light pt-4">
            <div class="col mb-5" th:each="meeting: ${meetings}">
                <div class="card h-100">
                    <!-- TODO: If finished/in_progress show this badge-->
                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem"
                         th:if="${meeting.finished}">Finished</div>
                    <div class="card-body p-4">
                        <div class="">
                            <!-- Meeting name-->
                            <h5 class="fw-bolder" th:text="${meeting.getTopic()}"></h5>
                            <!-- Text Placeholder-->
                            <div class="small mb-2 mt-5">
                                <div class="">
                                    <b>Date: </b>
                                    <span th:text="${meeting.dateOfMeeting.dayOfMonth} + ' ' + ${#temporals.format(meeting.dateOfMeeting, 'MMMM')} + ' ' + ${meeting.dateOfMeeting.year}"></span>
                                </div>
                                <div class="">
                                    <b>Time: </b>
                                    <span th:text="${#temporals.format(meeting.dateOfMeeting, 'HH:mm')}"></span>
                                </div>

                                <div class=""><b>Location: </b><span th:text="${meeting.getRoom()}"></span></div>
                                <div class=""><b>Type: </b><span th:text="${meeting.getMeetingType()}"></span></div>
                            </div>
                        </div>
                    </div>

                    <!-- Actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
<!--                        buttons -->
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="text-center p-2"><a class="mt-auto" th:href="@{'/meetings/details/' + ${meeting.getId()}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0dcaf0" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                                </svg>
                                </a>
                            </div>

                            <div sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')" class="text-center p-2"><a class="mt-auto" th:href="@{'/meetings/edit/' + ${meeting.getId()}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d6efd" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                                </a>
                            </div>

                            <div sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')" class="text-center p-2"><a class="mt-auto" th:href="@{'/meetings/delete/' + ${meeting.getId()}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#dc3545" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg>
                                </a>
                            </div>

                        </div>

<!--                        <div class="text-center p-2" th:unless="${meeting.finished}">-->
<!--                            <th:block th:unless="${#lists.contains(attended_meetings, meeting.getId())}">-->
<!--                                <form th:action="@{'/meetings/change-attendance/' + ${meeting.getId()}}" method="post">-->
<!--                                    <button type="submit" class="btn btn-success mt-auto">Will attend</button>-->
<!--                                </form>-->
<!--                            </th:block>-->
<!--                            <th:block th:if="${#lists.contains(attended_meetings, meeting.getId())}">-->
<!--                                <form th:action="@{'/meetings/change-attendance/' + ${meeting.getId()}}" method="post">-->
<!--                                    <button type="submit" class="btn btn-danger mt-auto">Cancel attendance</button>-->
<!--                                </form>-->
<!--                            </th:block>-->
<!--                        </div>-->

                        <div class="text-center p-2" th:unless="${meeting.finished}">
                            <div class="d-flex justify-content-center align-items-center">

                                <th:block th:unless="${#lists.contains(attended_meetings, meeting.getId())}">

                                    <form th:action="@{'/meetings/change-attendance/' + ${meeting.getId()}}" method="post" class="me-2">
                                        <input type="hidden" name="status" value="YES">
                                        <button type="submit" class="btn btn-light rounded-pill">Yes</button>
                                    </form>

                                </th:block>

                                <th:block th:if="${#lists.contains(attended_meetings, meeting.getId())}">
                                    <form th:action="@{'/meetings/change-attendance/' + ${meeting.getId()}}" method="post" class="d-inline-block">
                                        <input type="hidden" name="status" value="">
                                        <button type="submit" class="btn btn-success rounded-pill mt-auto">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                            </svg> Yes

                                        </button>
                                    </form>
                                </th:block>

<!--                                maybe -->
                                <th:block th:unless="${#lists.contains(maybe_attended_meetings, meeting.getId())}">

                                    <form th:action="@{'/meetings/change-attendance/' + ${meeting.getId()}}" method="post" class="me-2">
                                        <input type="hidden" name="status" value="MAYBE">
                                        <button type="submit" class="btn btn-light rounded-pill">Maybe</button>
                                    </form>

                                </th:block>

                                <th:block th:if="${#lists.contains(maybe_attended_meetings, meeting.getId())}">
                                    <form th:action="@{'/meetings/change-attendance/' + ${meeting.getId()}}" method="post" class="d-inline-block">
                                        <input type="hidden" name="status" value="">
                                        <button type="submit" class="btn btn-warning rounded-pill mt-auto">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                            </svg>
                                            Maybe</button>
                                    </form>
                                </th:block>

<!--                                no -->
                                <th:block th:unless="${#lists.contains(not_attended_meetings, meeting.getId())}">

                                    <form th:action="@{'/meetings/change-attendance/' + ${meeting.getId()}}" method="post">
                                        <input type="hidden" name="status" value="NO">
                                        <button type="submit" class="btn btn-light rounded-pill">No</button>
                                    </form>

                                </th:block>

                                <th:block th:if="${#lists.contains(not_attended_meetings, meeting.getId())}">
                                    <form th:action="@{'/meetings/change-attendance/' + ${meeting.getId()}}" method="post" class="d-inline-block">
                                        <input type="hidden" name="status" value="">
                                        <button type="submit" class="btn btn-danger rounded-pill mt-auto">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                            </svg>
                                            No</button>
                                    </form>
                                </th:block>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>