<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Institution</th>
        <th scope="col">Role</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <th  scope="row" th:text="${memberStat.index} + 1"></th>
        <td th:text="${member.name}"></td>
        <td th:text="${member.surname}"></td>
        <td th:text="${member.email}"></td>
        <td th:text="${member.institution}"></td>
        <td th:text="${member.role}"></td>
    </tr>
    </tbody>
</table>