<!-- Section-->
<section class="py-5">
    <div class="container">
        <!-- Filter Section-->
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 row-cols-sm-1 justify-content-start bg-light p-3">
            <div class="col-md-8"> <!-- class="col-md-10" -->
                <form method="get" action="/meetings" class="">
                    <h4 class="mb-3">Filter meetings</h4>
                    <input class="form-control me-2 m-1" type="search" placeholder="Search by Name" aria-label="Name" name="name">
                    <div class="d-flex align-items-center m-1">
                        <span>From</span>
                        <input class="form-control me-2 m-1" type="date" aria-label="Date" name="dateFrom">
                        <span>To</span>
                        <input class="form-control me-2 m-1" type="date" aria-label="Date" name="dateTo">
                    </div>
                    <div class="btn-group mb-3" role="group" aria-label="Basic checkbox toggle button group">
                        <div th:each="type: ${types}">
                            <input type="checkbox" class="btn-check" th:value="${type.name()}" autocomplete="off" name="type" th:id="${'type_' + type.name()}">
                            <label class="btn btn-outline-primary" th:text="${type.name()}" th:for="${'type_' + type.name()}"></label>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary m-1 col-3" type="submit">Filter</button>
                </form>
            </div>
        </div>

        <!-- TODO: Create meeting button if ADMIN-->
        <div class="row justify-content-center m-3">
            <a href="/meetings/add"><button class="btn btn-success m-1 col-3" type="submit">Create new Meeting</button></a>
        </div>

        <!-- Meeting Cards-->
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 row-cols-sm-1 justify-content-start bg-light pt-4">
            <div class="col mb-5" th:each="meeting: ${meetings}">
                <div class="card h-100">
                    <!-- TODO: If finished/in_progress show this badge-->
<!--                    <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem"-->
<!--                         th:if="${meeting.dateAndTime.isBefore(#dates.createNow())}">In progress</div>-->
<!--                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem"-->
<!--                         th:if="${meeting.dateAndTime.isBefore(#dates.createNow()) && meeting.finished}">Finished</div>-->
<!--                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem"-->
<!--                         th:if="${meeting.dateAndTime.isAfter(#dates.createNow())}"></div>-->

                    <!-- Meeting Details-->
                    <div class="card-body p-4">
                        <div class="">
                            <!-- Meeting name-->
                            <h5 class="fw-bolder" th:text="${meeting.getTopic()}"></h5>
                            <!-- Text Placeholder-->
                            <div class="small mb-2 mt-5">
                                <div class="">
                                    <b>Date: </b>
                                    <span th:text="${meeting.dateOfMeeting.dayOfMonth} + ' ' + ${#temporals.format(meeting.dateOfMeeting, 'MMMM')} + ' ' + ${meeting.dateOfMeeting.year}"></span>
                                </div>
                                <div class="">
                                    <b>Time: </b>
                                    <span th:text="${#temporals.format(meeting.dateOfMeeting, 'HH:mm')}"></span>
                                </div>

                                <div class=""><b>Location: </b><span th:text="${meeting.getRoom()}"></span></div>
                                <div class=""><b>Type: </b><span th:text="${meeting.getMeetingType()}"></span></div>
                            </div>
                        </div>
                    </div>

                    <!-- Actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center p-2"><a class="btn btn-outline-info mt-auto" th:href="@{'/meetings/details/' + ${meeting.getId()}}">Info</a></div>
                        <div class="text-center p-2"><a class="btn btn-outline-danger mt-auto" th:href="@{'/meetings/delete/' + ${meeting.getId()}}">Delete</a></div>
                        <div class="text-center p-2"><a class="btn btn-info mt-auto" th:href="@{'/meetings/edit/' + ${meeting.getId()}}">Edit</a></div>
                        <div class="text-center p-2"><a class="btn btn-success mt-auto" href="#">Attend</a></div>
                        <div class="text-center p-2"><a class="btn btn-danger mt-auto" th:href="@{'/discussion-point/add?meetingId=' + ${meeting.getId()}}">Add discussion point</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>