<h3 class="container" th:text="'All positions for member: ' + ${member.name} + ' ' + ${member.surname}"></h3>
<table class="table container">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Position</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col" sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="position : ${positions}">
        <th scope="row" th:text="${positionStat.index} + 1"></th>
        <td th:text="${position.positionType}"></td>
        <td th:text="${position.fromDate}"></td>
        <td th:text="${position.toDate}"></td>
        <td>
            <div sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')">
                <div class="text-center p-2" style="display: inline-block"><a class="mt-auto" th:href="@{'/members/' + ${member.getId()} + '/positions/' + ${position.getId()} + '/edit'}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d6efd"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                </a>
                </div>
                <div class="text-center p-2" style="display: inline-block"><a class="mt-auto"
                                                                              th:href="@{'/members/' + ${member.getId()} + '/positions/' + ${position.getId()} + '/delete'}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#dc3545"
                         class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                    </svg>
                </a>
                </div>
            </div>
        </td>

    </tr>
    </tbody>
</table>
<a sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')" class=" btn btn-info" th:href="@{'/members/' + ${member.getId()} + '/positions/add'}">Add previous position</a>