<div class="container">
    <form th:action="@{'/discussion-point/edit/votes/no/' + ${point.getId()}}" method="post">
        <div class="form-group">
            <div class="form-control">
                <input class="form-control" type="number" id="votes-no" name="votes" th:value="${votes}">
                <label class="form-control" for="votes-no">Enter vote number:</label>
            </div>
        </div>
        <button class="btn btn-primary m-1 col-3" type="submit">Edit votes</button>
    </form>
    <block th:if="${hasError}">
        <div th:text="${error}" class="text-danger"></div>
    </block>
</div>