<div class="container col-8">
  <div class="row justify-content-center m-4 bg-light p-4">
    <div class="col-md-8">
      <form th:action="@{'/email/send-notification/' + ${meetingId}}"   method="post">
        <p>Are you sure you want to send this notification?</p>
        <b>Subject</b>
        <br>
        <input type="text" class="form-control" readonly th:value="${subject}" name="subject">

        <br>
        <b>Body</b>
        <textarea readonly th:text="${email_body}" class="form-control" id="email_body" rows="6" name="email_body"></textarea>

        <input type="hidden" th:each="role : ${recipientRoles}" th:value="${role}" name="recipientRoles" >

        <b>To the following roles: </b>
        <p th:each="role : ${recipientRoles}" th:text="${role}"> </p>

        <button class="btn btn-success m-1 w-100" type="submit">Send</button>
        <a class="btn btn-primary m-1 w-100" th:href="@{'/email/meeting-notification/' + ${meetingId}}">Back</a>
      </form>
    </div>
  </div>
</div>