<div class="container mt-5" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${meeting.getTopic()}">Title PLACEHOLDER</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2"><span th:text="${meeting.getDateOfMeeting}">MEETING DATE; TIME;</span>
                        <span th:text="${meeting.getRoom()}">LOCATION - PLACEHOLDER</span></div>
                    <!-- Post categories-->
                    <p class="badge bg-secondary text-decoration-none light" href="#!" th:text="${meeting.meetingType}">
                        TYPE PLACEHOLDER</p>
                </header>
                <div class="btn-group w-50" role="group" >
<!--                    <div class="col-lg-8 mb-5">-->
                        <a th:unless="${meeting.finished}" sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')"
                           class="btn btn-success col-4 btn-sm rounded border "
                           th:href="@{'/meetings/add-attendees/' + ${meeting.getId()}}">
                            Start meeting
                        </a>

                        <a th:href="@{'/email/meeting-notification/' + ${meeting.getId()}}"
                           class="btn btn-success col-4 btn-sm rounded border"
                           sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')"
                        >
                            Send notification</a>


                        <div class="row" th:if="${meeting.finished}">
                            <div class="col-auto">
                                <a sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')"
                                   class="btn btn-warning btn-sm rounded border"
                                   th:href="@{'/meetings/panel/' + ${meeting.getId()}}">
                                    Modify meeting
                                </a>
                            </div>
                            <div class="col-auto">
                                <th:block
                                        sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')"
                                        th:href="@{'/report/generate/' + ${meeting.getId()}}">
                                    <form method="post" th:action="@{'/report/generate/' + ${meeting.getId()}}">
                                        <button class="btn btn-success btn-sm rounded border" type="submit">Get report</button>
                                    </form>
                                </th:block>
                            </div>
                        </div>
<!--                    </div>-->
                </div>

                <!-- Post content-->
                <section class="mb-5">
                    <h4 class="fw-bolder mb-4 mt-5">Discussion points</h4>
                    <ul class="list-group list-group-flush">
                        <li th:each="dp : ${sortedDiscussions}" class="list-group-item">
                            <div style="display: flex; align-items: center;">
                                <span th:text="${dp.topic}"></span>
                                <span style="flex-grow: 1; border-bottom: 1px solid #ccc; margin-left: 10px; margin-right: 10px;"></span>
                                <span style="color: #999; flex-grow: 10;" th:text="${dp.discussion}"></span>
                            </div>
                            <b th:if="${meeting.finished}">
                                <span th:if="!${dp.confirmed}" class="text-danger fst-italic">(Denied)</span>
                                <span th:if="${dp.confirmed}" class="text-success fst-italic">(Accepted)</span>
                            </b>
                            <form th:action="@{'/meetings/delete/discussion/'+${dp.id}}" method="post"
                                  sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')"
                                  class="float-end me-2">
                                <input type="hidden" name="_method" value="POST"/>
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>
                            <a th:href="@{/discussion-point/edit/{id}(id=${dp.id})}"
                               sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')"
                               class="btn btn-sm btn-outline-primary float-end">Edit point</a>
                            <p th:if="${dp?.attachment != null}">Attachment: <a
                                    th:href="@{/discussion-point/download/{id}(id=${dp.attachment.id})}"
                                    th:text="${dp.attachment.fileName}">Download</a></p>

                        </li>
                    </ul>
                    <div sec:authorize="hasAnyAuthority('PRESIDENT','VICE_PRESIDENT')" class="text-center p-2"><a
                            class="btn btn-danger mt-auto"
                            th:href="@{'/discussion-point/add?meetingId=' + ${meeting.getId()}}">Add discussion
                        point</a></div>
                </section>

            </article>
        </div>
        <div class="col-lg-4 bg-light">
            <h4 class="fw-bolder mb-4 mt-5">Meeting Notes</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <!--<a th:href="@{/meetings/registered-members/{meetingId}(meetingId=${meeting.getId()}, tab='yes')}" th:text="${#lists.size(meeting.getRegisteredAttendees())} + ' members'"></a>-->
                    <span th:text="'See attendance list'"></span>
                    <a th:href="@{/meetings/registered-members/{meetingId}(meetingId=${meeting.getId()}, tab='yes')}"
                       style="margin-left: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                             class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                        </svg>
                    </a>

                </li>
                <!--<li class="list-group-item">
                    <a th:href="@{/meetings/registered-members/{meetingId}(meetingId=${meeting.getId()}, tab='yes')}" th:text="${#lists.size(meeting.getRegisteredAttendees())} + ' members'"></a>
                    <span th:text="' have announced their attendance for this meeting'"></span>
                </li>
                <li class="list-group-item">
                    <a th:href="@{/meetings/registered-members/{meetingId}(meetingId=${meeting.getId()}, tab='maybe')}" th:text="${#lists.size(meeting.getMaybeAttendees())} + ' members'"></a>
                    <span th:text="' have selected maybe for this meeting'"></span>
                </li>
                <li class="list-group-item">
                    <a th:href="@{/meetings/registered-members/{meetingId}(meetingId=${meeting.getId()}, tab='no')}" th:text="${#lists.size(meeting.getNoAttendees())} + ' members'"></a>
                    <span th:text="' are not attending this meeting'"></span>
                </li>
                <li class="list-group-item" th:if="${meeting.finished}">
                    <a th:href="@{/meetings/meeting-attendants/{meetingId}(meetingId=${meeting.getId()})}" th:text="${#lists.size(meeting.getAttendees())} + ' members'"></a>
                    <span th:text="' have attended this meeting'"></span>
                </li>-->
            </ul>
        </div>

    </div>
</div>
