<div class="container w-50">
    <div class="row justify-content-center m-4 bg-light p-4">
        <div class="col-md-8">
            <form th:action="@{'/email/reset-draft/' + ${meeting.getId()}}" th:method='POST'>
                <p>Are you sure you want the draft notification of the meeting:</p>
                <b>Subject</b>
                <p th:text="${meeting.getTopic()}"></p>

                <button class="btn btn-danger m-1 w-100" type="submit">Reset</button>
                <a class="btn btn-primary m-1 w-100" th:href="@{'/email/meeting-notification/' + ${meeting.getId()}}">Back</a>


            </form>
        </div>
    </div>
</div>