<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Meeting Info</title>
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${meeting.getTopic()}">Title PLACEHOLDER</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2"><span th:text="${meeting.getDateOfMeeting}">MEETING DATE; TIME;</span>
                        <span th:text="${meeting.getRoom()}">LOCATION - PLACEHOLDER</span></div>
                    <!-- Post categories-->
                    <p class="badge bg-secondary text-decoration-none light" href="#!" th:text="${meeting.meetingType}">TYPE PLACEHOLDER</p>
                </header>
                <!--                TODO:If Not started/In progress-->
                <div class="col-lg-8 mb-5">
                    <a  th:unless="${meeting.finished}" sec:authorize="hasAuthority('PRESIDENT')" class="btn btn-success col-4 btn-sm" th:href="@{'/meetings/add-attendees/' + ${meeting.getId()}}">
                       Start meeting
                    </a>
                    <a  th:if="${meeting.finished}" sec:authorize="hasAuthority('PRESIDENT')" class="btn btn-warning col-4 btn-sm" th:href="@{'/meetings/panel/' + ${meeting.getId()}}">
                        Modify meeting
                    </a>

                </div>
                <!-- Post content-->
                <section class="mb-5">
                    <h4 class="fw-bolder mb-4 mt-5">Description</h4>
                    <p class="fs-5 mb-4">DESCRIPTION PLACEHOLDER! Science is an enterprise that should be cherished as
                        an activity of the free human mind. Because it transforms who we are, how we live, and it gives
                        us an understanding of our place in the universe.</p>
                    <h4 class="fw-bolder mb-4 mt-5">Discussion points</h4>
                    <ul class="list-group list-group-flush">
                        <li th:each="dp : ${sortedDiscussions}" class="list-group-item">
                            <div style="display: flex; align-items: center;">
                                <span th:text="${dp.topic}"></span>
                                <span style="flex-grow: 1; border-bottom: 1px solid #ccc; margin-left: 10px; margin-right: 10px;"></span>
                                <span style="color: #999; flex-grow: 10;" th:text="${dp.discussion}"></span>
                            </div>
                            <b th:if="${meeting.finished}">
                                <span th:if="!${dp.confirmed}" class="text-danger fst-italic">(Denied)</span>
                                <span th:if="${dp.confirmed}" class="text-success fst-italic">(Accepted)</span>
                            </b>
                            <form th:action="@{'/meetings/delete/discussion/'+${dp.id}}" method="post"
                                  class="float-end me-2">
                                <input type="hidden" name="_method" value="POST"/>
                                <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                            </form>
                            <a th:href="@{/discussion-point/edit/{id}(id=${dp.id})}"
                               class="btn btn-sm btn-outline-primary float-end">Edit point</a>
                            <p th:if="${dp?.attachment != null}">Current attachment: <a th:href="@{/discussion-point/download/{id}(id=${dp.attachment.id})}" th:text="${dp.attachment.fileName}">Download</a></p>

                        </li>
                    </ul>
                    <div sec:authorize="hasAuthority('PRESIDENT')" class="text-center p-2"><a class="btn btn-danger mt-auto" th:href="@{'/discussion-point/add?meetingId=' + ${meeting.getId()}}">Add discussion point</a></div>

                </section>

            </article>
        </div>
        <div class="col-lg-4 bg-light">
            <h4 class="fw-bolder mb-4 mt-5">Meeting Notes</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a th:href="@{/meetings/registered-members/{meetingId}(meetingId=${meeting.getId()})}" th:text="${#lists.size(meeting.getRegisteredAttendees())} + ' members'"></a>
                    <span th:text="' have announced their attendance for this meeting'"></span>
                </li>

                <li class="list-group-item" th:if="${meeting.finished}">
                    <a th:href="@{/meetings/meeting-attendants/{meetingId}(meetingId=${meeting.getId()})}" th:text="${#lists.size(meeting.getAttendees())} + ' members'"></a>
                    <span th:text="' have attended this meeting'"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>