<div class="container">
    <div class="d-inline-flex align-items-center my-5">
        <span><strong>Total attendees:</strong> <span th:text="${#lists.size(meeting.getAttendees())}"></span></span>
        <a class="ms-3 btn btn-secondary" th:href="@{/meetings/add-attendees/{id}(id=${meeting.getId()})}">Modify attendance list</a>
    </div>
    <table class="table">
        <thead class="thead-dark">



        <tr>
            <th scope="col">Topic</th>
            <th scope="col">Voted Yes</th>
            <th scope="col">Voted No</th>
            <th scope="col">Abstained</th>
            <th scope="col">Discussion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="point: ${sortedDiscussions}">
            <td th:text="${point.getTopic()}"></td>
            <td th:if="${votesYes[point.getId()] == null}">
                <div th:if="${point.isVotable}">
                    <form th:action="@{'/discussion-point/vote/yes/' + ${point.getId()}}" method="post">
                        <div class="form-group" style="width: 60%">
                            <div class="form-control text-center ">
                                <label class="form-control" for="votes-yes">Enter vote number:</label>
                                <div class="d-flex justify-content-center">
                                    <input class="form-control" type="number" id="votes-yes" name="votes" style="width: 40%">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary m-1 col-3" type="submit">Vote Yes</button>

                    </form>
                    <block th:if="(${hasError} == true) and (${error.getDiscussionPoint} == ${point.getId}) and (${error.getType} == 'yes')">
                        <div th:text="${error.getErrorMessage()}" class="text-danger"></div>
                    </block>
                </div>
            </td>
            <td th:unless="${votesYes[point.getId()] == null}">
                <div th:if="${point.isVotable}">
                    <a th:href="@{'/discussion-point/edit/votes/yes/' + ${point.getId()}}">Edit</a>
                    <ul>
                        <li th:text="@{${votesYes[point.getId()]} + ' people voted yes.'}"></li>
                    </ul>
                </div>
            </td>
            <td th:if="${votesNo[point.getId()] == null}">
                <div th:if="${point.isVotable}">
                    <form th:action="@{'/discussion-point/vote/no/' + ${point.getId()}}" method="post">
                        <div class="form-group" style="width: 60%">
<!--                            <div class="form-control text-center d-flex justify-content-center">-->
                            <div class="form-control text-center">
                                <label class="form-control" for="votes-no">Enter vote number:</label>
                                <div class="d-flex justify-content-center">
                                    <input class="form-control" type="number" id="votes-no" name="votes" style="width: 40%">
                                </div>

                            </div>
                        </div>
                        <button class="btn btn-primary m-1 col-3" type="submit">Vote No</button>

                    </form>
                    <block th:if="(${hasError} == true) and (${error.getDiscussionPoint} == ${point.getId}) and (${error.getType} == 'no')">
                        <div th:text="${error.getErrorMessage()}" class="text-danger"></div>
                    </block>
                </div>
            </td>
            <td th:unless="${votesNo[point.getId()] == null}">
                <div th:if="${point.isVotable}">
                    <a th:href="@{'/discussion-point/edit/votes/no/' + ${point.getId()}}">Edit</a>
                    <ul>
                        <li th:text="@{${votesNo[point.getId()]} + ' people voted no.'}"></li>
                    </ul>
                </div>
            </td>

            <!-- !!! for abstained votes !!! ----------------------------------------------------------------    -->

            <td th:if="${abstained[point.getId()] == null}">
                <div th:if="${point.isVotable}">
                    <form th:action="@{'/discussion-point/abstained/' + ${point.getId()}}" method="post">
                        <div class="form-group" style="width: 60%">
                            <div class="form-control text-center">
                                <label class="form-control" for="votes-abstained">Enter vote number:</label>
                                <div class="d-flex justify-content-center">
                                    <input class="form-control" type="number" id="votes-abstained" name="votes" style="width: 40%">
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary m-1 col-3" type="submit">Abstained</button>

                    </form>
                    <block th:if="(${hasError} == true) and (${error.getDiscussionPoint} == ${point.getId}) and (${error.getType} == 'abstained')">
                        <div th:text="${error.getErrorMessage()}" class="text-danger"></div>
                    </block>
                </div>
            </td>
            <td th:unless="${abstained[point.getId()] == null}">
                <div th:if="${point.isVotable}">
                    <a th:href="@{'/discussion-point/edit/votes/abstained/' + ${point.getId()}}">Edit</a>
                    <ul>
                        <li th:text="@{${abstained[point.getId()]} + ' people abstained from voting.'}"></li>
                    </ul>
                </div>
            </td>



            <!--                 ---------------------------------------                              -->


<!--            <td th:if="${abstained[point.getId()] == null}">-->
<!--&lt;!&ndash;            <td th:if="${abstained != null and abstained[point.getId()] == null}">&ndash;&gt;-->
<!--                <div th:if="${point.isVotable}">-->
<!--                    <form th:action="@{'/discussion-point/vote/abstained/' + ${point.getId()}}" method="post">-->
<!--                        <div class="form-group" style="width: 60%">-->
<!--                            <div class="form-control text-center">-->
<!--                                <label class="form-control" for="votes-abstained">Enter vote number:</label>-->
<!--                                <div class="d-flex justify-content-center">-->
<!--                                    <input class="form-control" type="number" id="votes-abstained" name="votes" style="width: 40%">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button class="btn btn-primary m-1 col-3" type="submit">Abstained</button>-->
<!--                    </form>-->
<!--                    <block th:if="(${hasError} == true) and (${error.getDiscussionPoint} == ${point.getId}) and (${error.getType} == 'abstained')">-->
<!--                        <div th:text="${error.getErrorMessage()}" class="text-danger"></div>-->
<!--                    </block>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td th:unless="${abstained[point.getId()] == null}">-->
<!--                <div th:if="${point.isVotable}">-->
<!--                    <a th:href="@{'/discussion-point/edit/votes/abstained/' + ${point.getId()}}">Edit</a>-->
<!--                    <ul>-->
<!--                        <li th:text="@{${abstained[point.getId()]} + ' people abstained from voting.'}"></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </td>-->

            <!-- do tuka !!! (for abstained votes) ----------------------------------------------------------------    -->


            <td th:if="${#strings.isEmpty(discussions[point.getId()])}">
                <div >
                    <form th:action="@{'/discussion-point/add/discussion/' + ${point.getId()}}" method="post">
                        <div class="form-group">
                            <label for="discussion">Discussion</label>
                            <textarea class="form-control" id="discussion" rows="3" name="discussion"></textarea>
                        </div>
                        <button class="btn btn-primary m-1 col-8" type="submit">Save discussion</button>
                    </form>
                </div>
            </td>
            <td th:unless="${#strings.isEmpty(discussions[point.getId()])}">
                <a th:href="@{'/discussion-point/edit/discussion/' + ${point.getId()}}">Edit</a>
                <div>
                    <textarea th:text="${discussions[point.getId()]}" class="form-control"></textarea>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{'/meetings/finish/' + ${meeting.getId()}}" method="post">
        <div class="text-center p-2">
            <button class="btn btn-success mt-auto" type="submit">Finish meeting</button>
        </div>
    </form>
</div>
</body>
</html>